---
interface Props {
  username: string;
  role: string;
  description: string;
}

const { username, role, description } = Astro.props;
---

<li class="maker-card">
  <a href={github}>
    <img src="https://github.com/{username}.png" alt={username} />
    <h2>
      {username}
    </h2>
    <h4>
      {role}
    </h4>
    <p>
      {description}
    </p>
  </a>
</li>
